/* WEB DEL ROMANTICISMO           */
/* HOJA DE ESTILO PARA INDEX.HTML */
/* JAVIER BRAVO                   */
/* VERSION: 1.0                   */
/* 11 de noviembre de 2022        */
 
/* ESTILO GENERAL                 */

@font-face {
    src: url('../FUENTES/BreakingBad.ttf');
    font-family:"Breaking Bad";
  }

  @font-face {
    src: url('../FUENTES/ANGEL\ FIRE.ttf');
    font-family:"Angel Fire";
  }

  @font-face {
    src: url('../FUENTES/WaterFire.otf');
    font-family:"WaterFire";
  }

  * {
    box-sizing: border-box;
  }

  body {
    background-color: rgb(156, 107, 107);
    font-family: WaterFire;
    margin: 0;
    padding: 0;
  }

  #wrapper {
    width:80%;
    margin: auto;
    background-color: white;
  }

  section {
    padding: 4% 0;
  }

  .titulo-seccion {
    font-family: "Breaking Bad";
    font-size: 3.5rem;
    color:black;
    text-align: center;
    padding: 40px;
  }



/*********************** GRID IDEAS ************************/ 

#ideas {
  background-color: rgb(233,233,233);
} 

#grid2 {
  display: grid;
  grid-template-columns: 50% 50%;
}

.col2 img {
  width: 100%;
  padding: 5%;
}

.col-texto {
  padding:4%;
  margin: 1%;
}

.grid4 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.col4 {
  padding: 8%;
}

.grid5 {
  display: grid;
  grid-template-columns: 25% 25% 50%;
}

.col5 {
  padding: 8%;
}

#footer-color {
  background-color: rgb(233,233,233);
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 1s;
  padding: 5%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 18px;
  margin-top: -8px;
  text-align: center;
}

.card img {
  width: 100%;
  transition: 3s;
  filter:sepia()
  opacity()
  
}

.button {
  text-decoration: none;
  color: white;
  background-color: #555;
  padding: 5px 10px;
  margin: 20%;
  border-radius: 10%;
}

.button:hover {
  background-color: darkgrey;
}

/********************** HERO SECTION OPCION 1: FOTO + TEXTO **********/
  #hero {
    background-image: url('../IMAGENES/wanderer-above-the-sea-fog-friedrich.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 33%;
    font-family: "Breaking Bad";
    font-size: 4rem;
    padding-left: 5%;
    padding-top: 5%;
  }

  #titulo {
    background-color: rgba(255,255,255,0.5);
    width: 35%;
    padding: 2%;
    text-align: center; 
    border-radius: 50%;
  }


  /***** HERO 2: HAIKEI APP + POSITION *****/ 

  #hero2{
    background-image: url('../IMAGENES/low-poly-grid-haikei.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  #titulo2{
    text-align: center;
    font-family: "Angel Fire";
    font-size: 4rem;
    background-color: rgba(255, 255, 255, 0.5);
    width: 30%;


    position:absolute; /* SE FIJA DENTRO DEL HERO */
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

    /* para el efecto frosted glass (fondo debe ser blanco
        y  con opacidad por debajo de 0.5) */

    backdrop-filter: blur(3px);
  }

  /***** HERO 3: COLOR LISO + GETWAVES *****/ 

  #hero3 {
    background-color: #e7008a;
    height:40vh;
  }

  #titulo3 {
    font-family: "Angel Fire";
    font-size: 4rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-150%);
  }


  /****************** MEDIA QUERY **********************/

  @media only screen and (width <= 1000px){
    #wrapper {width: 90%;}
    #titulo {font-size: 3rem;
              width: 45%;}
    #grid2 {grid-template-columns: 100%;}
    .grid4 {grid-template-columns: 50% 50%;}
    .grid5 {grid-template-columns:50% 50% ;}
  }

  @media only screen and (width <= 600px){
    #wrapper {width: 100%;}
    .grid4 {grid-template-columns: 100%;}
  }